body{
    color: #1a202c;
    background-color: #e2e8f0;
}

a {
   text-decoration: none;
   display: inline-block;
}

.s8 {
   color: #1E3A52;
}

.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
